{% extends 'base.html'%}
{% load static%}

{%block content%}
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/gp8BLyaTaA0/1200x800')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Form</h2>
                <p class="lead">Here is where are form will lie giving users the ability to change update add subtract whatver</p>
            </div>
        </div>
    </div>
</section>
{%endblock%}