{% extends 'base.html'%}
{% load static%}

{%block content%}
{% load crispy_forms_tags %}
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/gp8BLyaTaA0/1200x800')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<section class="py-5">
    <div class = "row mt-3 pt-3">
        <div style="text-align: center; height:auto; margin-left:auto; margin-right:auto;" class = "col-md-4">
            <h4 style='text-align:center;'>Add a Hacking Record</h4>
            <div class = "border p-3">
                
                
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class = 'btn btn-success btn-block' type='submit' value='Add'>
                </form>
                
            </div>
           
        </div>

</section>


{%endblock%}