{% extends 'base.html'%}
{% load static%}
{%block content%}
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/dMUt0X3f59Q/1600x900')">
            <div class="text-center my-5">
                <h1 class="text-white fs-3 fw-bolder">Cyber Attacks</h1>
                <p class="text-white-50 mb-0"></p>
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Hacking</h2>
                        <p class="lead">Unauthorized use of a ones computer that can be used to steal information</p>
                        <p class="mb-0">An effort to attack a computer system or a private network inside a computer is known as hacking.
                            Simply, it is unauthorized access to or control of computer network security systems with the intention of
                            committing a crime. Hacking is the process of finding some security holes in a computer system or network in order
                            to gain access to personal or corporate information. One example of computer hacking is the use of a password cracking technique
                            to gain access to a computer system. The process of gaining illegal access to a computer system, or a group of computer systems, is known as hacking.
                            This is accomplished by cracking the passwords and codes that grant access to systems. Cracking is the term used to describe the process of
                            obtaining a password or code.</p>
                    <br><br>
                    <h2>What can hackers do?</h2>
                    <p class="lead">While connected to the internet hackers can do the following:</p>
                    <ul>
                        <li>Steal usernames and passwords</li>
                        <li>Access you finances</li>
                        <li>Steal money</li>
                        <li>Destroy credit</li>
                        <li>Use information to purchse items</li>
                    </ul>
                    <br><br>
                    <h2>Safeguard from Hackers</h2>
                    <p class="lead">Getting hacked may sound scary there are a few things that you can to to combat attacks</p>
                    <ul>
                        <li><b>Keep all software up to date.</b> Older software is more suseptable to attacks because attackers have had longer time to figure out the old software</li>
                        <li><b>Have a strong password.</b> Having a password of 15+ characters with a combonation of numbers and letters with special characters will make it almost impossible to crack</li>
                        <li><b>Always use websites that start with HTTPS,</b> they are insure that connection online is secure</li>
                        <li>Make sure that things you dowload are legitamate</li>
                        <li>Install anti-virus software</li>
                    </ul>
                </div>
                </div>
            </div>
        </section>
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/Lq8Mfp3HoEg/1600x900')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Phishing</h2>
                        <p class="lead">Creating fake sites or messages to lure users into  giving away information</p>
                        <p class="mb-0">Phishing is one of the types of cyber attack. Phishing got its name from “phish” meaning fish.
                            It’s a common phenomenon to put bait for the fish to get trapped. Similarly phishing works. It is an unethical
                            way to dupe the user or victim to click on harmful sites. The attacker crafts the harmful site in such a way
                            that the victim feels it to be an authentic site, thus falling prey to it. Once the victim has logged
                            into these fake sites the attacker has access to the login credentials they used and can use those in harmful ways</p>
                            <br><br>
                        <h2>How Does Phishing occur</h2>
                        <ul>
                            <li><b>Clicking on unknown file or attachment</b>
                            Attacker sends a file with maleware injected into the file or attachment that could steal information or
                            harm you device </li>
                            <li> <b>Using open or free wifi hotspot</b> Using public Wifi makes you vulnerable to
                                phishing becasue attackers can intercept your data that you send over
                                a public or unencypted network. For example if you were to log into your
                                bank over a public wifi network attackers could be able to see and steal your login information</li>
                            <li><b>Responding to social media requests</b> Attackers will often portray like they are
                                someone they are not to try to get you to click on a link they send you on social media.
                                These links could be harmful to your system</li>
                            <li><b>Clicking on unauthenticated links or ads</b> Harmful malware can be
                            embedded in unauthenticated links and ads and can contain viruses that can steal your
                        information and/or harm you system</li>
                         </ul>
                         <h2>Stay protected</h2>
                         <p class="lead">We Have seen all the ways users can be attacked but how can you stay safe</p>
                        <ol>
                            <li>Always check the URL of the website and mae sure if starts with HTTPS</li>
                            <li>Never share your information with anyone even with people you know
                                attackers may be impersonating your family and friends
                            </li>
                            <li>Only download from authorized sources</li>
                            <li>If you recieve any suspicous emails DO NOT reply or click on any links
                                if you dont know, draft a new email and contact them rather than hitting reply
                            </li>
                            <li>Avoid free wifi if possible, if you must use it be careful about what you search or use a VPN</li>
                            <li>Do not post any personal information about yourself on the web that can be publically accessed</li>
                            <li>Keep system updated and Firewall of the system on</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <div style = 'margin:auto;  text-align: center;'>
            <label style="text-align:center;"> <strong> <font size="+2">All Hacking Records</font></strong>
                <table class="center styled-table" style='width:auto'>
                    <tr class="active-row">
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Breach Number</th>
                        <th>Breach Type</th>
                        <th>Description</th>
                        <th></th>
                        <th></th>
        
                    </tr>
        
                    {% for order in data %}
                    
                    <tr class="active-row" style='width:90%'> 
                        <td>{{order.first_name}}</td>
                        <td>{{order.last_name}}</td>
                        <td>{{order.breach_num}}</td>
                        <td>{{order.breach_type}}</td>
                        <td>{{order.breach_description}}</td>
                        <td><a class="btn btn-success btn-block" style="line-height:0.85;" href="{% url 'update' order.id %}">Update</a></td>
                        <td><a class="btn btn-success btn-block" style="line-height:0.85;" href="{% url 'delete' order.id %}">Delete</a></td>

                    </tr>
                    {% endfor %}
                </table>
            </label>
            <br>
            <a class="btn btn-success btn-block" style="margin-top: 3%; margin-bottom:3%; line-height:0.95;" href="{% url 'form' %}">Add a Hacking Record</a>
            
            <br>
        </div>
        <br><br>
{%endblock%}