{%  extends 'base.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}


<br>
<div class="row" style='padding-top:3%'>
	<div class="col-md-3">
		<div class="card card-body">
			
			<hr>
			<h3 style="text-align: center">Update Hacking Record</h3>
			<hr>
			<a class="btn btn-warning" href="{% url 'index' %}"> &#8592; Back to Home</a>
			<img class="profile-pic" src="{{request.user.customer.profile_pic.url}}" >
		
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				{{form|crispy}}
		
			<input class="btn btn-primary" type="submit" name="Update Information">
			</form>
		</div>
	</div>
</div>
{% endblock %}